/*******************************************************/
/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/*******************************************************/
/* VARIABLES */

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  --very-dark-blue--main: hsl(217, 54%, 11%);
  --very-dark-blue--card: hsl(216, 50%, 16%);
  --very-dark-blue--line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

/*******************************************************/
/* GENERAL CONFIGURATIONS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

body {
  background-color: var(--very-dark-blue--main);
  display: grid;
  font-family: 'Outfit', sans-serif;
  place-content: center;
  min-height: 100vh;
}

/*******************************************************/
/* MAIN */

.component {
  align-items: start;
  background-color: var(--very-dark-blue--card);
  border-radius: 14px;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  max-width: 20.3125rem;
  padding: 23px;
}

.nft-image-container,
.nft-image,
.nft-icon-view-container {
  aspect-ratio: 1 / 1;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}

.nft-image-container {
  align-self: center;
  position: relative;
}

.nft-icon-view-container {
  aspect-ratio: 1 / 1;
  background-color: rgba(0, 255, 247, 0.5);
  background-image: url(../images/icon-view.svg);
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.nft-image:hover .nft-icon-view-container,
.nft-icon-view-container:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.nft-name,
.nft-name a {
  color: var(--white);
  font-size: 22px;
  font-weight: 600;
  margin-top: 20px;
  transition: color 0.2s ease;
}

.nft-name a:hover {
  color: var(--cyan);
}

.nft-description {
  color: var(--soft-blue);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 16px;
}

.nft-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  width: 100%;
}

.nft-price,
.nft-time {
  align-items: center;
  display: flex;
  gap: 5px;
}

.nft-price {
  color: var(--cyan);
}

.nft-price::before {
  content: url(../images/icon-ethereum.svg);
}

.nft-time {
  color: var(--soft-blue);
}

.nft-time::before {
  content: url(../images/icon-clock.svg);
  margin-top: 4px;
}

.nft-creator {
  align-items: center;
  border-top: 1px solid var(--very-dark-blue--line);
  color: var(--soft-blue);
  display: flex;
  font-size: 15px;
  font-weight: 300;
  gap: 1rem;
  margin-top: 12px;
  padding-top: 16px;
  width: 100%;
}

.nft-creator-image {
  border: 1px solid var(--white);
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.nft-creator-name a {
  color: var(--white);
  transition: color 0.2s ease;
}

.nft-creator-name a:hover {
  color: var(--cyan);
}

/*******************************************************/
/* FOOTER */

.attribution {
  bottom: 10px;
  color: var(--soft-blue);
  font-size: 10px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

.attribution a {
  color: var(--white);
}

.attribution a:hover {
  color: var(--cyan);
}
